.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f0f0f0;
}

.signin-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 450px;
    min-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%; 
}

.signin-form form {
    padding: 15px;
    margin: auto;
}

.signin-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.signin-form input {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: medium;
}

.signin-form button {
    display: block;
    margin-left: 50%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.signin-form button:hover {
    background-color: #45a049;
}

.signin-form span {
    display: block;
    margin-top: 15px;
}

.signin-form h1 {
    margin: auto;
    margin-bottom: 18px;
    border-bottom: 1px solid #ccc;
}

