
.task-categories-container {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin: auto;
    height: 80%;
    width: 70%;
    padding: 20px;
}

.task-categories-container h1 {
    text-align: center;
}

.task-categories-list {
    display: flex;
    flex-direction: row;
    font-size: large;
    justify-content: center;
}
